/aco_points_512x512.txt
/aco_start_end_512x512.txt
/Eredmenyek.txt
/Eredmenyek_a.txt
/Eredmenyek_b.txt
/outA.txt
/outB.txt
/surface_100x100.end_points.txt
/surface_100x100.txt
/surface_100x100_test1.txt
/surface_100x100_test2.txt
/surface_256x256.end_points.txt
/surface_256x256.txt
/surface_512x512.end_points.txt
/surface_512x512.txt
/Utkereses.pdf
.idea/*